/* Players on mobile */
 @media(max-width:500px) {
.floplayer .fp-logo, .jwplayer .jw-logo,  .jw-logo,
.mpLogo  {display:none!important}
/* Fix for JwPlayer Youtube on mobile */
.jwplayer .jw-display-icon-container{ pointer-events:none }
/* End players on mobile */
 }
/* PHPVibe's player ads styling*/
 .plAd {opacity:0.45; z-index:999999; position:absolute;  background:#191919; color:#fff; padding:3px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -ms-border-radius: 3px; }
 .plAd.plTopleft {top:5%; left:15px;}
 .plAd.plBotleft {bottom:17%; left:15px;}
 .plAd.plBotRight {bottom:17%; right:15px;}
 .plAd.plTopRight {top:5%; right:15px;}
 .plAd img {display:inline-block; width:auto; max-width:140px; float:left; margin-left:1px;}
 .plAd .holder {display:inline-block; float:left;}
 .bAd { position:absolute; bottom:49px;width:100%; text-align:center; display:block; z-index: 99997;}
 .bAd.plTransparent , .bAd.plTransparent .innerAd { border-color:transparent!important; background:transparent!important; }
 .bAd .innerAd { opacity:0.45; z-index:99; display:inline-block; margin:0 auto; width:auto; position:relative; padding:3px 5px;  background:#191919; color:#fff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -ms-border-radius: 3px; }
.plAd:hover,.bAd:hover .innerAd { opacity:0.99;}
 .bAd .innerAd a,  .plAd a{ color:red; display:block; position:relative; text-decoration:none; } 
 .bAd .innerAd:hover a ,  .plAd:hover a{ color:#fff; text-decoration:underline; } 
a.adclose,a.plclose { display:block!important; position:absolute!important; right:-10px; top: -8px; background-color: transparent; width: 16px; height: 12px; border-radius: none; -webkit-border-radius: none; background-image: url("../images/close.png"); background-position: 0 -12px; }
a.adclose:hover, a.plclose:hover{ background-position: 0 0; }
 .plAd.plBotRight a.plclose,  .plAd.plTopRight a.plclose  { right:0; }
 .screenAd { display:block; z-index:998; margin:0; width:100%; height:100%; position:absolute; top:0;left:0;right:0;bottom:0;  text-align:center; }
 .screenAd .innerAd { z-index:99; margin:auto auto; vertical-align:middle; display:inline-block; color:#fff; }
 .screenAd .innerAd a{ color:red; display:block; position:relative; text-decoration:none; } 
 .screenAd .innerAd:hover a{ color:#fff; text-decoration:underline; } 
 .screenAd a.bigadclose { display:block; position:absolute; right:2%; bottom:9%; z-index:999; padding:15px; background: #333; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -ms-border-radius: 3px; color:#eee }
.mediaPlayer .hide { display: none!important; }
/* Mobile fixes */
 @media(max-width:500px) {   .plAd {display:none!important;}  }
  /* Static Ads*/ 
 .floating-video-ad {position:absolute; z-index:99999999!important; bottom:12%; display:block; width:100%; height:auto; opacity:0.35; text-align:center; } 
 #evplayer .floating-video-ad {z-index:99999999!important;}
 .floating-video-ad img{margin:0 auto;} 
 .floating-video-ad:hover{opacity:0.99!important;} 
 .floating-video-ad .close-ad{background:url('../images/close_button.gif') no-repeat left top;position:absolute; right:3px; top:3px;z-index:9999; display:none; color:#666; line-height:17px; cursor:pointer;width:17px; height:17px;} 
 .floating-video-ad:hover .close-ad{display:block!important;} 
 .static-ad{display:block; text-align:center; padding: 10px auto; clear:both;} 
 .plAd iframe,  .bAd iframe , .floating-video-ad iframe { position:relative!important;  display:block;  }
 /* On embed/iframe */
 .embeddedVP {  display:block;  position:relative;  }
 .embeddedVP .bAd ,.embeddedVP .floating-video-ad {max-width:90%; margin-left:5%;}
 .embeddedVP img {  max-width: 100%;   width: auto\9;   height: auto;   vertical-align: middle; border: 0;   -ms-interpolation-mode: bicubic; }
 .embeddedVP .vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {visibility: visible!important; display:block!important}
 .video-js .plAd , .video-js .bAd{z-index: 2147483647!important}